.empty {
    height: 10rem;}
.hero-sec-grid {
    display: grid;
    grid-template-columns: .8fr 3fr;
}
@media screen and (max-width: 700px) {
    .hero-sec-grid{
        display: flex;
        flex-wrap: wrap;
    }
}