.banner-upper-empty {
  height: 12rem;
  width: 10%;
}

.single-product__main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 10rem 1fr 1fr 10rem;
  /* grid-template-rows: 1fr; */
  grid-template-areas: "... visual text ...";
  grid-gap: 1rem;
}

.single-product__left {
  grid-area: visual;
  /* height: 10rem; */
  /* width: 100%; */
}
.single-product__left-image {
  height: 40rem;
  width: 40rem;
}

.single-product__right {
  grid-area: text;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.single-product__right-description__ul {
  list-style: none;
}
.single-product__right-description__ul > li {
  list-style: circle;
}
 @media screen and (max-width: 900px) {
   .single-product__left {
    grid-area: visual;
    height: 10rem;
    width: 100%;
  }
  .single-product__left-image {
    height: 30rem;
    width: 30rem;
    display:flex;
    align-items: center;
  }

  .single-product__right {
    grid-area: text;
    width: 100%;
     margin-top:1rem;
    display: flex;
    flex-direction: column;


  }
  .single-product__main {
   
    /* grid-template-columns:1fr 4fr 1fr; */
    grid-template-areas:
      "...  visual visual visual visual ... "
      " ... text text text text ...   ";
    gap: 10px;
    height: 100vh;
  }
 
}




/* @media screen and (max-width: 1000px) {
  .single-product__main {

    grid-template-columns:10px 1fr 10px;
    grid-template-areas:
      "...  visual ... "
      " ... text  ...   ";
    gap: 10px;
    height: 100vh;
  }
  .single-product__left {
    grid-area: visual;
    height: 10rem;
    width: 100%;
  }
  .single-product__left-image {
    height: 30rem;
    width: 30rem;
  }

  .single-product__right {
    grid-area: text;

    width: 100%;
     margin-top:1rem;
    display: flex;
    flex-direction: column;
   
  }
} */

@media screen and (max-width: 450px) {
  .single-product__main {
   
    grid-template-columns:10px 1fr 10px;
    grid-template-areas:
      "...  visual ... "
      " ... text  ...   ";
    gap: 10px;
    height: 100vh;
  }
  .single-product__left {
    grid-area: visual;
    height: 10rem;
    width: 100%;
  }
  .single-product__left-image {
    height: 30rem;
    width: 30rem;
  }

  .single-product__right {
    grid-area: text;

    width: 100%;
     margin-top:1rem;
    display: flex;
    flex-direction: column;

  }
}
