.hero-aside {
/* position:fixed; */
    background-color: var(--SLATE-50);
}


/*------------------ ASide Imported styles */

.aside-container-pri {
    margin-left: 2rem;
}

.aside-container-pri h2 {
    border-bottom: 2px solid var(--GREY-DARK);
}




.products-main {
    /* border:solid red; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--STONE-100);
}

.products-main>.card-vertical:hover {
    box-shadow: 0 4px 8px 0 var(--495057), 0 6px 20px 0 var(--6C757D);
}

.range {
    width: 90%;
}